//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Store variables for breakpoint media queries



//================================================================================================================
//  *   CH01 - Store variables for breakpoint media queries
//================================================================================================================

// Extra extra small screen
// $xs: '320px';
$xxs: '20em';

// Extra small screen
// $xs: '360px';
// $xs: '375px' !default;
$xs: '23.4375em'; //22.5em

// Small screen
// $sm: '560px';
$sm: '35em';

// Medium screen
// $md: '720px';
$md: '45em';

// Large screen
// $lg: '960px';
$lg: '60em';

// Wide screen
// $wd: '1200px';
$wd: '75em';

// Extra Wide screen
// $xwd: '1920px';
$xwd: '120em';

// Ultra Wide screen
// $xxwd: '2560px';
$xxwd: '160em';

// Other variables as necessary
