//================================================================================================================
//  *   Chapther
//  *   Note: For better use of memorable color names http://chir.ag/projects/name-that-color/
//================================================================================================================
//  *   CH01 - General Color :: White
//  *   CH02 - General Color :: Black
//  *   CH03 - Status Color
//  *   CH04 - Social Media Color



//================================================================================================================
//  *   CH01 - General Color :: White
//================================================================================================================
$white: #ffffff;



//================================================================================================================
//  *   CH02 - General Color :: Black
//================================================================================================================
$black-100: #1c1c1c;
$black-300: #494949;
$black-500: #777777;
$black-700: #A4A4A4;
$black-900: #d2d2d2;


//================================================================================================================
//  *   CH02 - Status Color
//================================================================================================================
$status--primary:   #428bca;
$status--success:   #5cb85c;
$status--warning:   #f0ad4e;
$status--info:      #5bc0de;
$status--danger:    #d9534f;
$status--disabled:  #bdc3c7;



//================================================================================================================
//  *   CH04 - Social Media Color
//================================================================================================================
$sc-whatsapp: #25d366;
$sc-facebook: #4267B2;
$sc-twitter: #1DA1F2;
$sc-instagram: #262626;
