//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Component Wrapper
//  *   CH03 - Form Product Note



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================
$product-note-textarea: $black-300;
$product-note-textarea-placeholder: $black-900;
$product-note-text-limit-color: $black-700;




//================================================================================================================
//  *   CH02 - Component Wrapper
//================================================================================================================




//================================================================================================================
//  *   CH03 - Form Product Note
//================================================================================================================
.c-product-note form {
    textarea {
        color: $product-note-textarea;
        display: block;
        font-size: 14px;
        line-height: normal;
        min-height: 110px;
        padding: 10px 0;
        resize: none;
        width: 100%;

        &::placeholder {
            color: $product-note-textarea-placeholder;
        }
    }
}

.c-product-note .btn-action-wrapper {
    @include flexgrid(row, flex-end, center, wrap);
    width: 100%;

    .limit-text {
        color: $product-note-text-limit-color;
        margin-right: auto;
    }

    button {
        display: block;
        margin-left: 5px;

        &.is-hidden {
            display: none;
        }
    }
}