//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Category List



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================
$product-category-slider-figure-image-bg: $white;
$product-category-slider-figure-image-box-shadow: rgba(0, 0, 0, 0.05);



//================================================================================================================
//  *   CH02 - Category List
//================================================================================================================
.c-product-category-slider {
    overflow: hidden;

    .swiper-container {
        overflow: visible;
    }
}

.c-product-category-slider .swiper-slide {
    box-sizing: border-box;

    &.rounded,
    &.rounded .figure-image {
        width: 80px;

        @include breakpoint-max(xs) {
            width: 60px;
        }
    }

    &.rounded .figure-image {
        border-radius: 100%;
        height: 80px;

        @include breakpoint-max(xs) {
            height: 60px;
        }
    }

    .figure-image {
        @include flexgrid(column, center, center, wrap);
        background-color: $product-category-slider-figure-image-bg;
        border-radius: 4px;
        box-shadow: 0px 4px 12px $product-category-slider-figure-image-box-shadow;
        position: relative;

        .c-link {
            padding: 20px;

            @include breakpoint-max(xs) {
                padding: 14px;
            }

            img,
            svg {
                display: block;
                height: auto;
                width: 100%;
            }
    
            svg {
                path {
                    fill: $main-100;
                }
            }
        }
    }

    label {
        color: $black-100;
        display: block;
        font-size: 11px;
        line-height: 14px;
        padding-top: 10px;
        text-align: center;

        @include breakpoint-max(xs) {
            font-size: 10px;
            line-height: 12px;    
        }
    }
}
