//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Button Share Wrapper



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================



//================================================================================================================
//  *   CH02 - Button Share Wrapper
//================================================================================================================
.c-btn-share-wrapper {
    .o-button {
        font-size: 14px;

        @include breakpoint-max(xs) {
            font-size: 12px;
        }

        .feather {
            vertical-align: top;
            margin-right: 10px;

            @include breakpoint-max(xs) {
                margin-right: 5px;
            }
        }
    }
}

