//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Input Search



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================
$search-bar-text-color: $black-300;
$search-bar-placeholder-color: $black-700;



//================================================================================================================
//  *   CH02 - Input Search
//================================================================================================================
.c-search-bar {
    left: -8px;
    position: relative;
    width: calc(100% - 42px);

    input {
        color: $search-bar-text-color;
        display: block;
        padding: 8px 0px;
        width: 100%;

        &::placeholder {
            color: $search-bar-placeholder-color;
        }
    }

    input,
    input::placeholder {
        font-size: 16px;
        line-height: normal;

        @include breakpoint-max(xs) {
            font-size: 14px;
        }
    }
}