//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Setup Component



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================



//================================================================================================================
//  *   CH02 - Setup Component
//================================================================================================================
.c-end-screen-time-countdown {
    .c-countdown {
        @include flexgrid(row, center, center, wrap);
        width: 100%;

        .panel {
            padding: 0 5px;
            width: 60px;

            h3 {
                position: relative;

                .dot {
                    @include absolute(top -2px right -10px);
                    text-align: center;
                    width: 10px;
                }
            }
        }
    }
}
