//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Layout Setup



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================
$order-history-panel-order-detail-background-color: $white;



//================================================================================================================
//  *   CH02 - Layout Setup
//================================================================================================================
.l-order-history .panel-product .l-section-shrink .c-product-list {
    margin-top: 30px;

    @include breakpoint-max(xs) {
        margin-top: 20px;
    }

    &:first-of-type {
        margin-top: 0;
    }
}

.l-order-history .panel-order-detail {
    background-color: $order-history-panel-order-detail-background-color;
}